.list {
  width: min(100% - 40px, 800px);
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.listItem a {
  display: block;
  padding: 20px;
}
.listItem a:hover {
  transition: 0.1s;
  background: #f7f7f7;
  box-shadow: 12px 12px 18px #d3d3d3, -12px -12px 18px #f7f7f7;
}
